.main-container {
  display: flex;
  justify-content: flex-end;
}

.products {
  max-width: 78rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 1.5rem;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--gray-color-light);
  width: 25rem;
  height: 50rem;
  margin-bottom: 3rem;
  padding: 2rem 1rem;
  img {
    max-width: 24rem;
    max-height: 24rem;
  }
}
