.footer {
  background-color: var(--dark-color);

  &__container {
    padding-top: 1.7rem;
    padding-bottom: 1.65rem;

    @media screen and (max-width: 991px) {
      padding-top: 0;
      padding-bottom: 0.9rem;
    }
  }

  &__logo {
    margin-bottom: 3rem;
    @media screen and (max-width: 991px) {
      margin-bottom: 1rem;
    }
  }

  &__nav {
    margin-bottom: 3rem;

    @media screen and (max-width: 991px) {
      margin-bottom: 1.5rem;
    }
  }

  &__information {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 991px) {
      flex-direction: column;
      gap: 1.4rem;
    }
  }

  &__rss {
    a {
      display: block;
      transition: all 0.35s ease;

      &:hover {
        svg {
          .p {
            fill: var(--red-color);
          }

          .s {
            stroke: var(--red-color);
          }
        }
      }
    }
  }
}

.menu-footer {
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7rem;
  }

  &__link {
    transition: color 0.35s ease;
    &:hover {
      color: var(--red-color);
    }
  }
}

.git {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-right: -18.5rem;

  @media screen and (max-width: 991px) {
    margin-right: 0;
  }

  &__item {
    a {
      display: flex;
      align-items: center;
      gap: 1rem;

      svg {
        fill: var(--gray-color);
        transition: fill 0.35s ease;
      }

      div {
        transition: color 0.35s ease;
      }

      &:hover {
        svg {
          fill: var(--red-color);
        }

        div {
          color: var(--red-color);
        }
      }
    }
  }
}
