.error {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  img {
    flex: 0.6;
  }
}

.error__info {
  flex: 0.4;
  padding: 5rem 0;
}

.error__text {
  margin-bottom: 5rem;
}
