@font-face {
  font-family: 'Monsterrat';
  src: url('./fonts/MontserratRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Monsterrat';
  src: url('./fonts/MontserratSemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Monsterrat';
  src: url('./fonts/MontserratBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
