:root {
  --font-family: 'Monsterrat', sans-serif;

  --bg-color: #ffffff;
  --white-color: #ffffff;
  --black-color: #242729;
  --dark-color: #1e1f20;
  --red-color: #dd0a34;
  --red-color-light: #c31639;
  --gray-color: #919399;
  --gray-color-light: #f7f7f7;
  --line-color: #e4e8ed;
}
